/* Base styling */
body {
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  background-color: #f3f3f7;
}

/* Header */
header {
  text-align: center;
  background-color: #003366;
  color: white;
  padding: 2rem 1rem;
}

header h1 {
  margin-bottom: 0.3rem;
}

header p {
  margin-bottom: 1rem;
  font-style: italic;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main sections */
main {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
  margin-bottom: 2rem;
}

section h2 {
  border-bottom: 2px solid #003366;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #003366;
}

/* About section */

#about {
  text-align: left;
}

/* Links */
a {
  color: #025ab1;
  text-decoration: none;
}

a:hover {
  color: #0375e6;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 600px) {
  main {
    padding: 1rem;
  }

  nav ul li {
    display: block;
    margin: 5px 0;
  }
}

/* Image styling */
.scaled-image {
    width: 25%;      /* scales to half the container width */
    height: 25%;    /* keeps the aspect ratio */
    margin-left: 20px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto; 
}

.event-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.event-card .date {
  font-size: 0.9em;
  color: #9d5516;
  margin-bottom: 12px;
}

.event-card .session-type {
  font-size: 0.9em;
  color: #666;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
}

.event-card .speaker {
  font-size: 1.5em;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: bold;
}